# Laravel
/vendor
/storage/*.key
.env
.env.backup
.env.production

# Node modules & builds
/node_modules
/public/build
/public/hot

# Cache & logs
/.phpunit.cache
.phpunit.result.cache

# IDE (opsional - bisa dihapus jika semua dev pakai IDE sama)
/.idea
/.vscode
